

body {
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 400;
    font-weight: 200;
   
    color: black;
}
.footsies{
    background-color: #FFF0ED;
}.Nav{
    background-color: #FFF0ED;
}
