.hot-drinks{
    background-color: #FFF0ED;
}
.cold-drinks{

}
.pastries{
    background-color: #FFF0ED;
}
.coffeecircle{
    width: 30rem;
    height: 30rem;
    

}
.flex-container {
    display: flex;
    height: 200px;
    align-items: center;
}